.container{width: 100%;
  max-width: inherit;
  padding: 0;
}
aside{
  /*color:white;*/
  position: absolute;
  width: 200px;
  height: 500px;
  /*background: red;*/
  float: left;
}
section{
  /*color:white;*/
  position: absolute;
  right: 200px;
  border-right: 1px solid gray;
  padding-right: 10px;
  /*background-color: blue;*/
  left: 0; }
